/* new-tweet.css */

.new-tweet {
  font-family: 'Philosopher', sans-serif;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 0.5em 1em 1em;
  margin: 1em 1em 0 1em;
}

.new-tweet h2 {
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: #c0c0c0;
}

.new-tweet textarea {
  width: 100%;
  padding: 4px;
}

.counter {
  float: right;
  color: black;
}

.charOverflow {
  color: red;
}